body{
   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 25px;
    text-align: center;
    
}   

header{
    background-image: url("https://qph.fs.quoracdn.net/main-qimg-ad4efefc4d02affc785e9007bf2f0d87"); 
    background-size: cover;
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.content{
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    margin:  auto;
    padding: 50px 100px;
    align-items: center;
}
.btn{
    
    padding: 15px 30px;
    background-color: rgb(61, 61, 61);
    color: white;
    border: none;
    border: solid 1px rgb(88, 84, 78);
    font-size: 20px;
    width: 200px;
    text-decoration: none;
}
.btn:hover{
    background-color: white;
    color: black;
}
.passage-1{
     
    background-color: rgb(196, 195, 195);
    text-align: center;
    padding: 20px 50px;
}
p{
    padding-top: 20px;
}
.passage-1 p{
    
    column-count: 2;
    column-gap: 50px;
}
.block{
    width: 350px;
    margin: 20px 15px ;
    background-color: white;
 
    
}
.web-info{
    display: flex;
    background-color: rgb(58,55,55);
    justify-content: center;    
}
.text{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.passage-2{
    text-align: center;
    padding: 40px 50px;
}
.contact-about{
   
    display: flex;
    color: white;
    text-align: center;
}
.left{
    background-color: rgb(72, 164, 240);
    flex-basis: 50%;
}
.right{
background-color: rgb(43, 41,41);
flex-basis: 50%;
padding: 40px 50px;
}
footer{
    background-color: black;
    display: flex;
    color: white;
    text-align: center;
}
footer .foot{
    flex-basis: 50%;
    padding: 40px 50px;
}
.link{
    text-decoration: none;
    color: rgb(61, 61, 231);
}
@media screen and (max-width: 768px){
    .passage-1 p{
        column-count: auto;
    }
    .block{
        margin: 10px;
        width: 80%;
    }
    .web-info{
        flex-wrap: wrap;

    }
    .contact-about{
        flex-direction: column;
   
    }
    footer{
      
        display: block;
        margin: 0px;
        padding-bottom:  10px;

    }
    footer .foot{
        padding: 7px;
       
    }
}